In [56]:
import pandas as pd
import matplotlib as plot
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [57]:
#call data from csv file
df=pd.read_csv("C:\\Users\\hp\\Downloads\\etp.csv")
df

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251,15.8263,0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259,15.8263,0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204,14.9569,0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269,15.8263,0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259,15.8263,0,1016.51,Partly cloudy throughout the day.
...,...,...,...,...,...,...,...,...,...,...,...,...
194,2006-04-17 02:00:00.000 +0200,Partly Cloudy,rain,8.977778,7.366667,0.95,10.3201,266,6.8425,0,1012.66,Partly cloudy throughout the day.
195,2006-04-17 03:00:00.000 +0200,Mostly Cloudy,rain,10.577778,10.577778,0.93,11.1734,278,14.9086,0,1012.32,Partly cloudy throughout the day.
196,2006-04-17 04:00:00.000 +0200,Mostly Cloudy,rain,10.533333,10.533333,0.89,14.0070,269,14.9086,0,1012.33,Partly cloudy throughout the day.
197,2006-04-17 05:00:00.000 +0200,Mostly Cloudy,rain,10.588889,10.588889,0.87,7.2933,269,14.1680,0,1012.55,Partly cloudy throughout the day.
198,2006-04-17 06:00:00.000 +0200,Mostly Cloudy,rain,9.983333,9.283333,0.89,6.7298,297,15.8263,0,1012.71,Partly cloudy throughout the day.

In [58]:
#now we will check null values for each column
df.isnull().sum()

Formatted Date              0
Summary                     0
Precip Type                 0
Temperature (C)             0
Apparent Temperature (C)    0
Humidity                    0
Wind Speed (km/h)           0
Wind Bearing (degrees)      0
Visibility (km)             0
Loud Cover                  0
Pressure (millibars)        0
Daily Summary               0
dtype: int64

In [59]:
df.columns
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [Formatted Date, Summary, Precip Type, Temperature (C), Apparent Temperature (C), Humidity, Wind Speed (km/h), Wind Bearing (degrees), Visibility (km), Loud Cover, Pressure (millibars), Daily Summary]
Index: []

In [60]:
before_rows = df.shape[0]
print(before_rows)

199

In [61]:
after_rows = df.shape[0]
print(after_rows)

199

In [62]:
del df['Precip Type']

In [63]:
y=clean_data[['Daily Summary']].copy()
clean_data['Daily Summary'].head()
y.head()

                       Daily Summary
0  Partly cloudy throughout the day.
1  Partly cloudy throughout the day.
2  Partly cloudy throughout the day.
3  Partly cloudy throughout the day.
4  Partly cloudy throughout the day.

In [64]:
Summary = ['Wind Speed (km/h)','Wind Bearing (degrees)','Loud Cover','Visibility (km)',
        'Humidity','Apparent Temperature (C)','Temperature (C)'
        ]

In [65]:
X = clean_data[Summary].copy()

In [66]:
X.columns

Index(['Wind Speed (km/h)', 'Wind Bearing (degrees)', 'Loud Cover',
       'Visibility (km)', 'Humidity', 'Apparent Temperature (C)',
       'Temperature (C)'],
      dtype='object')

In [67]:
y.columns

Index(['Daily Summary'], dtype='object')

In [79]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [77]:
humidity_classifier = DecisionTreeClassifier(max_leaf_nodes=10, random_state=0)
humidity_classifier.fit(X_train, y_train)
type(humidity_classifier)
predictions = humidity_classifier.predict(X_test)

In [78]:
accuracy_score(y_true = y_test, y_pred = predictions)

0.625

In [1]:
#create a decision model on weather dataset and interpret results

In [ ]:
#create a numpy array using more than one list ?